@charset "UTF-8";

:root {
    --greenPlant: #04741d;
    --bitDarkGreen: #aed9b5;
    --surface-btn-green: #aed9b5;
    --surface-green-0: #50935b;
	--redPlant: #dc3545;
	--greenPlant: #249b06;
	--surface-d: #dee2e6;
	--surface-e: #ffffff;
	--light-red: #d96b69
}