<html>
  <head></head>
  <body>
    <table align="center" style="width:100%;min-width:100%;max-width:500px" border="0" cellspacing="0" cellpadding="0">
      <tbody style="border:none">
        <tr>
          <td align="center" valign="top">
            <table style="max-width:100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td style="width:100%;font-size:0pt;line-height:0pt;margin:0;font-weight:normal;min-width:100%">
                    <table width="100%" style="min-width:100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom:10px">
                            <table width="800px" style="min-width:100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td style="padding:20px;border-radius:0px" bgcolor="#ffffff">
                                    <table width="100%" style="min-width:100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td style="color:#656464;font-family:'Calibri',Arial,sans-serif;font-size:15px;line-height:17px;text-align:left;padding-bottom:35px"> 
                                          	Salutare ${FULL_NAME}, <br> <br>O cerere pentru inregistrarea unui cont pe platforma <b>${APP_NAME}</b> a fost receptionata. 
                                          	Pentru validarea si activarea contului creat folositi butonul de mai jos:</td>
                                        </tr>
                                        <tr>
                                          <td style="text-align:center;padding-bottom:10px"></td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <table width="100%" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%;margin-bottom:20px" bgcolor="#e3e3e3" border="0" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td height="1" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%" bgcolor="#e3e3e3">&nbsp;</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td align="center">
                                            <table width="500" border="0" cellspacing="10" cellpadding="10">
                                              <tbody>
                                                <tr>
                                                  <th width="50%" style="font-size:0pt;line-height:0pt;padding:0;margin:0;font-weight:normal;vertical-align:top">
                                                    <table width="100%" style="min-width:100%" border="0" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td style="color:#000000;font-family:'Calibri',Arial,sans-serif;font-size:16px;line-height:20px;text-align:center;border:1px solid #0072bc;border-radius:7px;padding: 11px;"> 
                                                          <a style="color:#0072bc;text-decoration:none" href="${APP_SERVER}/activated-account.xhtml?code=${ACTIVATION_CODE}" target="_blank" data-saferedirecturl="${APP_SERVER}/activated-account.xhtml?code=${ACTIVATION_CODE}">
                                                          <span style="color:#0072bc;text-decoration:none;font-size: 18px;">ACTIVEAZA CONT</span></a></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </th>
                                                </tr>
                                                <tr>
                                                  <td style="padding:10px;border-radius:0px" bgcolor="#ffffff">
                                                    <table width="100%" style="min-width:100%" border="0" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td style="color:#773c3c;font-family:'Calibri',Arial,sans-serif;font-size:15px;line-height:17px;text-align:left;padding:10px 0 15px 0"> 
                                                          ATENTIE! Daca aceasta cerere nu a fost efectuata de catre dumneavoastra va rugam sa ignorati acest email si sa contactati administratorul
                                                          platformei <b>${APP_NAME}</b>. Va rugam sa nu utilizati optiunea "Raspuns" (Reply) ci sa folositi numarul de telefon de mai jos.<br></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <table width="100%" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%;margin-bottom:20px" bgcolor="#e3e3e3" border="0" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td height="1" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%" bgcolor="#e3e3e3">&nbsp;</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td align="center">
                                            <table width="auto" border="0" cellspacing="10" cellpadding="10">
                                              <tbody>
                                                <tr>
                                                  <td style="padding:10px;border-radius:0px;" bgcolor="#ffffff">
                                                    <table width="100%" style="min-width:100%;" border="0" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td style="color:#656464;font-family:'Calibri',Arial,sans-serif;font-size:15px;text-align:left;line-height: 20px;">
                                                            Daca nu puteti vizualiza corect butonul de activare, puteti utiliza adresa (link) de mai jos doar facand click 
                                                            pe adresa sau prin copy/paste a adresei direct intr-un browser web.<br><br>
                                                            Adresa activare: <b>${APP_SERVER}/activated-account.xhtml?code=${ACTIVATION_CODE}</b>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <table width="100%" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%;margin-bottom:20px" bgcolor="#e3e3e3" border="0" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td height="1" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%" bgcolor="#e3e3e3">&nbsp;</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td align="center">
                                            <table width="100%" style="min-width:100%" border="0" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td style="padding:10px;border-radius:0px" bgcolor="#ffffff">
                                                    <table width="100%" style="min-width:100%" border="0" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td align="center">
                                                            <table width="100%" style="min-width:100%" border="0" cellspacing="0" cellpadding="0">
                                                              <tbody>
                                                                <tr>
                                                                  <td width="20" style="font-size:0pt;line-height:0pt;text-align:left"></td>
                                                                  <td align="center">
                                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                                      <tbody>
                                                                        <tr>
                                                                          <td width="40" style="font-size:0pt;line-height:0pt;text-align:left"> <img width="30" height="30" alt="icon_box" src="https://ci4.googleusercontent.com/proxy/BhCrwIS-fxvQRa6iCnIyfp-jaeZu6qosUsycK-o9drK-r-NTdWsNF9kbKn3oN3VvxO81v0cmHqagAg=s0-d-e1-ft#https://sameday.ro/newsletter/phone.png" border="0" class="CToWUd"></td>
                                                                          <td style="color:#656464;font-family:'Calibri',Arial,sans-serif;font-size:15px;line-height:17px;text-align:left;font-weight:bold">Contact <br></td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>
                                                                    <table width="100%" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%" border="0" cellspacing="0" cellpadding="0">
                                                                      <tbody>
                                                                        <tr>
                                                                          <td height="12" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%">&nbsp;</td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>
                                                                  </td>
                                                                  <td width="20" style="font-size:0pt;line-height:0pt;text-align:left"></td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <td style="color:#656464;font-family:'Calibri',Arial,sans-serif;font-size:15px;line-height:17px;text-align: center;padding: 0px 0 15px 0;"> 
                                                          <br>Ai o nelamurire legata de activarea acestui cont sau ai nevoie de ajutor? Suna la:</td>
                                                        </tr>
                                                        <tr>
                                                          <td align="center">
                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                              <tbody>
                                                                <tr>
                                                                  <td style="font-family:'Calibri',Arial,sans-serif;font-size:16px;line-height:20px;text-align:left;padding:5px 15px;
                                                                  border:1px solid #0072bc;border-radius:7px;text-transform:uppercase;color:#0072bc"> 
                                                                  <a style="color:#0072bc;text-decoration:none" href="tel:+40732166676" target="_blank">
                                                                  <span style="color:#0072bc;text-decoration:none">+40 732 166 676 </span></a> </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <td style="color:#656464;font-family:'Calibri',Arial,sans-serif;font-size:15px;line-height:17px;text-align: center;padding: 25px 0 0px 0;"> 
                                                          Pe curand, <br>Echipa ${APP_NAME}</td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
